.container {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
}

.body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10;
  height: auto;
  padding-top: 200px;
}
